*,:after,:before {
    box-sizing: border-box;
}

*:focus {
    outline: 0 !important;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body{
    font-family: Exo_Extra_Light;
}

@font-face {
    font-family: Aller_Light;
    src: url(../fonts/Aller/Aller_Lt.ttf);
}

@font-face {
    font-family: Exo_Extra_Light;
    src: url(../fonts/Exo/Exo-Light.otf);
}

@font-face {
    font-family: Exo_Bold;
    src: url(../fonts/Exo/Exo-Medium.otf);
}

@font-face {
    font-family: Advent;
    src: url(../fonts/Advent/adventpro-medium.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

.textLeft{text-align: left;}
.textCenter{text-align: center;}
.textRight{text-align: right;}

input{
    font-family: Roboto;
}

.m{
    margin: 5px;
}

.m-t-5{
    margin-top: 5px;
}
.m-r-5{
    margin-right: 5px;
}

.m-l-5{
    margin-left: 5px;
}

.m-b-5{
    margin-bottom: 5px;
}

.p{
    padding: 5px;
}

.p-t-5{
    padding-top: 5px;
}

.p-l-5{
    padding-left: 5px;
}

.p-r-5{
    padding-right: 5px;
}


/* Header Offers Section */
.headerContactAndOffer{
    background: linear-gradient(90deg, #FF9800, #FF5722);
    color: #fff;
}

.headerContactAndOffer h4{
    font-family: Advent;
    font-weight: 500;
    padding: 5px;
    font-size: 16px;
}

.headerContactAndOffer button{
    background: transparent !important;
    border: 1px solid #fff;
    margin-top: 11px;
    margin-bottom: 11px;
}

.siteHeaderBanner{
    background: url(../images/bannerbg_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding-left: 0;
    padding-right: 0;
}

.siteHeaderBanner h1, .siteHeaderBanner p{
    font-family: Exo_Bold;
    color: #fff;
}

.siteHeaderBanner p{
    font-size: 16px;
}

.overlay{
    background: linear-gradient(180deg, rgba(0,0,0,0.85), rgba(0,0,0,0.7));
    background: linear-gradient(180deg, rgba(0,0,0,0.85), rgba(0,0,0,0.7));
    background-size: 100%;
}

.LogoandMenuArea{
    padding: 18px 0;
}

.logo{
    max-width: 170px;
}

.login-signup{
    color: #fff;
    font-size: 15px;
}

.login-signup:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.login-icon{
    width: 25px;
}

.menu img{
    margin: 20px 5px;
}

#loginModal .modal-header{
    background: #222;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}

#loginModal .logo{
    margin: auto;
}

#loginModal .close{
    opacity: 3;
    color: #fff;
}

.loginSection{
    padding: 15px 60px 0px 60px;
}

input, input[type="text"]{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px ;
    border-radius: 0px !important;
}

.form-control:focus{
    border-color: rgba(255, 153, 0,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 153, 0,.6);
}

.form-control{
    box-shadow:none !important;
}

.textBelowSearchArea p{
    width: 35%;
    padding-bottom: 55px;
    margin: auto;
    font-size: 15px;
}

.loginButton, .locationSearchButton{
    color: #fff;
    background: #FF5722;
    border: 1px solid #FF5722;
    padding: 15px;
    border-radius: 0px !important;
    font-size: 15px;
    transition: all .4s ease;
}

.loginButton:hover, .locationSearchButton:hover, .loginButton:focus, .locationSearchButton:focus{
    transition: all .4s ease;
    background: #fff !important;
    color: #FF9800 !important;
    border: 1px solid #FF5722 !important;
}

.locationSearchButton:hover, .locationSearchButton:focus{
    border: none !important;
}

.forgotPasswordLink, .newAccountLink{
    color: #FF5722;
}

.forgotPasswordLink:hover, .newAccountLink:hover, .forgotPasswordLink:focus, .newAccountLink:focus{
    transition: all .2s ease;
    color: #00d858;
    text-decoration: none;
}

.LogoandMenuArea input[type=text]{
    background: url(../images/location.png) 0 no-repeat;
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 10px 0 10px 50px;
    font-size: 20px;
    background-position: 5px;
    color: #fff;
    border: 1px solid #fff;
}

.LogoandMenuArea h4, .LogoandMenuArea p{
    color: #fff;
}

.locationSearchButton{
    width: 115px;
    color: #fff;
    border: 0;
    border-radius: 0;
    float: right;
    position: absolute;
    right: 16px;
    bottom: 1px;
    height: 48px;
}

.how-it-works h3{
    padding-top: 35px;
    font-size: 2em;
    font-weight: bold;
}

.how-it-works p{
    padding-bottom: 50px;
    font-size: 1.1em;
}

.how-it-works-End{
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e7e9e9;
}

.how-it-works-description{
    padding-top: 25px;
}

.whats-on-our-menu-carousel-section{
    margin-bottom: 25px;
}

.whats-on-our-menu-carousel-section .thumbnail{
    border: none !important;
    box-shadow: 1px 1px 6px #888888;
    padding: none !important;
}